<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Impak Medical Homepage</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'app_tpfinal/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">InventarySystem</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Diseño web</p>
                </div>
            </div>
        </header>
        <p>InventarySystem es una nueva empresa que se dedica al desarrollo web. </p>
        <p>En el corto tiempo que llevamos en el mercado, logramos tener un alto impacto y desarrollar paginas web para varias empresas locales</p>
            </body>
            <button>
                <a href="{% url 'inicio' %}">Inicio</a>
        
        
              </button> 
</html>
