{% extends "padre.html" %}

{% load static %}

{% block contenido %} 
    <p><h1>Formulario de alta de Obra Social</h1></p>
    <form action="{% url 'editar_os' os.id %}" method="POST">
        {% csrf_token %} 
        <p>Nombre obra social:</p>
        <input type="text" name="nombre" requiered>
        <p>Codigo social(numero):</p>
        <input type="number" name="cod_os" required>
        <p>Nombre producto:</p>
        <input type="text" name="nombre_prod" requiered>
        <p>Codigo producto:</p>
        <input type="number" name="codigo_prod" required>

        <input type="submit" value="Enviar">



    </form>
    <button>
        <a href="{% url 'inicio' %}">Cancelar</a>


      </button>

{% endblock %}  