{% extends "padre.html" %}

{% load static %}

{% block contenido %} 
    <p><h1>Formulario de alta de cliente</h1></p>
    <form action="alta_clientes" method="POST">
        {% csrf_token %} 
        <p>Nombre y apellido:</p>
        <input type="text" name="nombre" requiered>
        <p>Obra social(nombre):</p>
        <input type="text" name="os" required>
        <p>Codigo Obra social(numero):</p>
        <input type="number" name="cod_os" required>
        <p>Fecha de nacimiento</p>
        <input type="date" name="fec" required>

        <input type="submit" value="Enviar">



    </form>

    <button>
        <a href="{% url 'inicio' %}">cancelar</a>


    </button>
{% endblock %}  