{% extends "padre2.html" %}

{%  load static %}


{% block contenido %}
    
     <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Obra Social</th>
            <th scope="col">Fecha de nacimiento</th>          
          </tr>
        </thead>
        <tbody>
            {% for n in clientes %}
            <tr>
                <th scope="row">{{n.id}}</th>
                <td>{{n.nombre}}</td>
                <td>{{n.obra_social}}</td>
                <td>{{n.nacimiento}}</td>
                <td><a href="{% url 'borra_cliente' n.id %}">BORRAR</a></td>
                <td><a href="{% url 'editar_cliente' n.id %}">EDITAR</a></td>
                
            </tr>
            {% endfor %}        
        
        </tbody>
      </table>
      
  <button>
    <a href="alta_clientes">Agregar cliente</a>

  </button>
  <button>
    <a href="{% url 'inicio' %}">Inicio</a>


</button>
          




       

{% endblock %}